{{#section 'title'}}Page not found{{/section}}

{{#section 'style'}}
    <link href="/css/404.css" rel="stylesheet" />
{{/section}}

{{#section 'headerLinks'}}
    <li><a href="/">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/about">About</a></li>
{{/section}}

{{#section 'main'}}
    <main>
        <div>

            <h1><mark>Sorry!</mark>, this page isn't available</h1>
            <p>The page you were looking for couldn't be found</p>

            <button><a href='/'>Go Back To Home</a></button>
        </div>
    </main>
{{/section}}

{{#section 'footerLinks'}}
    <li><a href="./">Home</a></li>
    <li><a href="">Service</a></li>
    <li><a href="">Project</a></li>
    <li><a href="./contact">Contact Us</a></li>
{{/section}}