{{#section 'title'}}Server error{{/section}}

{{#section 'style'}}
    <link href="/css/404.css" rel="stylesheet" />
    <link href="/css/500.css" rel="stylesheet" />
{{/section}}

{{#section 'headerLinks'}}
    <li><a href="/">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/about">About</a></li>
{{/section}}

{{#section 'main'}}
    <main>
        <div>

            <h1><mark>Sorry!</mark>,A server error occured</h1>
        </div>
    </main>
{{/section}}

{{#section 'footerLinks'}}
    <li><a href="./">Home</a></li>
    <li><a href="">Service</a></li>
    <li><a href="">Project</a></li>
    <li><a href="./contact">Contact Us</a></li>
{{/section}}