{{!-- 
    project statistics -- completed and  uncompleted
    Recent payments
    Recent projects
 --}}

{{#section 'title'}}Dashboard{{/section}}

{{#section 'style'}}
    <link href="/css/dashboard.css" rel="stylesheet" />
    <script src="/js/Chart/chart.js"></script>
    <script>
        const currUser = {{{json user}}};
    </script>
    <script defer src='/js/dashboard.js'></script>
{{/section}}

{{#section 'asideLinks'}}
    <p><a href=''>Dashboard</a></p>
    <p><a href="/projects">Projects</a></p>
    <p><a href='/Payments'>Payments</a></p>
{{/section}}

{{#section 'headerLinks'}}
    <li><a href=''>Dashboard</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href='/Payments'>Payments</a></li>
{{/section}}


{{#section 'main'}}
    <main>
        <h1>Dashboard<date class="date"></date></h1>
        <p class="welcome-msg">Welcome back, {{user.firstName}}</p>
        <section class="proj-stats groups">
                <h2>Projects Statistics</h2>
            <div>
                {{#unless user.projects.length}}
                    <canvas id="projChart" height="300" width="400"></canvas>
                {{/unless}}
                {{!-- {{#unless user.projects.length}}
                    <p class="none">No projects</p>
               {{/unless}} --}}
            </div>
        </section>
        
        <section class="overview groups">
            <h2>Overview</h2>
            <div>
                <section class='summ-proj'>
                    <p>
                        <span>
                            <img />
                            Total projects
                        </span>
                        <mark class='value'>{{user.projects.length}}</mark>
                    </p>
                </section>
                <section>
                    <p>
                        <span>
                            <img />
                            Total payments
                        </span>
                        <mark class='value'>{{user.payments.length}}</mark>
                    </p>
                </section>
            </div>
        </section>

        <section class="proj groups">
            <h2>Recent Projects</h2>
            <div>
            {{#if user.projects.length}}
                <table>
                    <tr>
                        <th>Invoice</th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                    
                {{#each user.projects}}

                {{/each}}
                </table>
            {{/if}}
            {{#unless user.projects.length}}
                <p class="none">No project found</p>
            {{/unless}}
            </div>
        </section>
        
        <section class="payments groups">
            <h2>Recent Payments</h2>
            <div>
            {{#if user.payments.length}}
                <table>
                    <tr>
                        <th>Invoice</th>
                        <th>Product</th>
                        <th>Category</th>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                    
                {{#each user.payments}}

                {{/each}}
                </table>
            {{/if}}
            {{#unless user.payments.length}}
                <p class="none">No payment made so far</p>
            {{/unless}}
            </div>
        </section>
    </main>
{{/section}}
