{{#section 'title'}}Creating Websites{{/section}}

{{#section 'style'}}
    <link href="/css/index.css" rel="stylesheet" />
{{/section}}



{{#section 'headerLinks'}}
    <li><a href="/">Home</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/about">About</a></li>
    <li><a href="/contact">Contact Us</a></li>
{{/section}}


{{#section 'hero'}}
    <section class="hero">
        <h1>
          Unique <mark>websites</mark><br />
          for your unique<br />
          <mark>business</mark>
        </h1>
        <p>
          <span><a href="">Nutrition</a></span>
          <span><a href="">Wildlife</a></span>
          <span><a href="">Architectural</a></span>
          <span><a href="">Travel</a></span>
          <span><a href="">Education</a></span>
        </p>
    </section> 
{{/section}}

{{#section 'main'}}
    <main>

      <section class="about flex">
          <div>
            <h2>About Us</h2>
            <p>
              Lorem ipsum dolor sit, amet consectetur adipisicing elit. Pariatur,
              maiores. Voluptatum reiciendis mollitia asperiores impedit laudantium
              tempora, expedita?. What we do.
            </p>
          </div>
          <p>
            <mark>Web development</mark> is driven by a deep passion for
            <mark>reaching out</mark> human <mark>needful needs</mark> and vital
            services with so much ease
            <button>LEARN MORE</button>
          </p>
        </section>
        <section class="expertise sep">
          <section class="main-sep flex">
            <div>
              <h2>Our Expertise</h2>
              When moments captured every dreams crafted into beautiful reality
            </div>
            <ul>
              <li class="active">Nutrition</li>
              <li>Wildlife</li>
              <li>Architectural</li>
              <li>Travel</li>
              <li>Education</li>
            </ul>
          </section>
          <section class="slider-cont">
            <div>
              <h2 id="name">Chasing Clouds at Mont Blanc's Pinnacle</h2>
              <p id="location">Mpnrtllarc France</p>
            </div>
            <section class="slider">
              <img src="./img/img1.jpg" alt="1" />
              <img src="./img/img3.jpg" />
              <img src="./img/img4.jpg" />
              <img src="./img/nice.jpg" />
            </section>
            <p>
              <button class="back">&lt;</button>
              <button class="fward">&gt;</button>
              <a href="">See all </a>
            </p>
          </section>
        </section>
    
        <section class="work">
          <section class="flex">
            <div>
              <h2>About Us</h2>
              <p>
                <mark>Explore</mark> the artistry and precision behind
                <mark>our portfolio</mark> of productive web development
              </p>
            </div>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis
              adipisci fugiat totam nobis quibusdam quisquam provident dicta
              doloremque.
              <button>EXPLORE MORE</button>
            </p>
          </section>
    
          <section class="examples">
            <div>
              <p class="tags"></p>
              <div>
                <h2>Lorem ipsum dolor sit amet, consectetur</h2>
                <p class="desc">
                  Lorem ipsum dolor sit amet consectetur adipisicing elit.
                </p>
                <button>MORE DETAILS <span>&gt;</span></button>
              </div>
            </div>
    
            <div>
              <h2>Lorem ipsum dolor sit amet, consectetur</h2>
              <p class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
              <button>MORE DETAILS <span>&gt;</span></button>
            </div>
    
            <div>
              <h2>Lorem ipsum dolor sit amet, consectetur</h2>
              <p class="desc">
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
              </p>
              <button>MORE DETAILS <span>&gt;</span></button>
            </div>
          </section>
        </section>
    
        <section class="awards">
          <section class="flex">
            <h2>Awards</h2>
            <p>
              <mark>Award</mark> is a pixel that <mark>reflecting</mark> our ongoing
              <mark>dedication</mark> to innovation and excellence
            </p>
          </section>
          <section class="main-awards">
            <section class="title">
                <table>
                    <tbody>
                        <tr>
                            <td>2015</td>
                            <td>Sony World Photography Awards</td>
                            <td><span>&RightArrow;</span></td>
                        </tr>
                        <tr>
                            <td>2017</td>
                            <td>Sony World Photography Awards</td>
                            <td><span>&RightArrow;</span></td>
                        </tr>
                        <tr>
                            <td>2015</td>
                            <td>Sony World Photography Awards</td>
                            <td><span>&RightArrow;</span></td>
                        </tr>
                        <tr>
                            <td>2015</td>
                            <td>Sony World Photography Awards</td>
                            <td><span>&RightArrow;</span></td>
                        </tr>
                    </tbody>
                </table>
            </section>
            <section class="full-desc">
              <img src="./img/img4.jpg"/>
              <h3>A quiet Afternoon in the Countryside</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste error
                molestias sunt.
              </p>
            </section>
          </section>
        </section> 
    </main>
    <aside id='aside'></aside>
{{/section}}

{{#section 'footerLinks'}}
    <li><a href="/about">About Us</a></li>
    <li><a href="">Project</a></li>
    <li><a href="">Services</a></li>
{{/section}}