{{#section 'title'}}Projects{{/section}}

{{#section 'styles'}}
    <link href="/css/projects.css" rel="stylesheet" />
{{/section}}

{{#section 'asideLinks'}}
    <p><a href='/dashboard'>Dashboard</a></p>
    <p><a href="">Projects</a></p>
    <p><a href='/Payments'>Payments</a></p>
{{/section}}

{{#section 'main'}}
    projects
{{/section}}